/* Font Styles */
@font-face {
  font-family: 'Love';
  src: url('./fonts/Love.ttf') format('truetype');
}

@font-face {
  font-family: 'PrintBold';
  src: url('./fonts/PrintBold.otf') format('opentype');
}

@font-face {
  font-family: 'PrintCLearly';
  src: url('./fonts/PrintClearly.otf') format('opentype');
}

@font-face {
  font-family: 'girl';
  src: url('./fonts/girl.otf') format('opentype');
}

/* Body Styles */
body {
  background: linear-gradient(to bottom, #f5f5fd, #e8e8fa);
  font-family: 'girl';
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 48px;
  background-image: url(https://pbs.twimg.com/media/FACOJGCUYAcX4yX?format=jpg&name=4096x4096);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* User Info Styles */
.user-info {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #3e3967;
  font-family: 'Love';
  font-size: 30px;
}

/* App Styles */
.App {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3e3967;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Colour Container Styles */
.colour-container {
  display: flex;
}

.colour {
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 50%;
}

.colour.red {
  background-color: #ff8080;
}

.colour.orange {
  background-color: #ffb366;
}

.colour.blue {
  background-color: #66b3ff;
}

.colour.purple {
  background-color: #cc99ff;
}

.colour.yellow {
  background-color: #ffff99;
}

.colour.green {
  background-color: #99ff99;
}

/* Header Styles */
h1 {
  font-family: 'Love', sans-serif;
  color: #3e3967;
  font-size: 80px;
  padding-top: 30px;
  padding-bottom: 1px;
  margin-bottom: 25px;
  margin-top: 25px;
}

div {
  margin: 1px;
}

/* Button Styles */
button {
  font-family: 'girl', sans-serif;
  background-color: #3e3967;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  /* Adjusted padding for a smaller size */
  font-size: 18px;
  /* Adjusted font size for a smaller size */
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  vertical-align: middle;
}

button:hover {
  background: #6a5acd;
}

.button-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.button-container button {
  font-family: 'girl', sans-serif;
  background-color: #3e3967;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  /* Adjusted padding for a smaller size */
  font-size: 18px;
  /* Adjusted font size for a smaller size */
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
}

.button-container button:hover {
  background: #6a5acd;
}

.button-container button.active {
  background: #6a5acd;
}

/* Input Styles */
input[type="text"] {
  width: 200px;
  height: 30px;
  /* Adjusted height for a smaller size */
  font-family: 'Love', sans-serif;
  color: #3e3967;
  font-size: 18px;
  /* Adjusted font size for a smaller size */
  padding: 5px;
  /* Adjusted padding for a smaller size */
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  vertical-align: middle;
}

/* Audio Button Styles */
.audio-button-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
}

/* Paragraph Styles */
p {
  font-size: 32px;
  color: #3e3967;
  font-weight: bold;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
}

/* Heading 4 Styles */
h4 {
  text-align: center;
  color: #3e3967;
  font-family: 'Love';
  font-size: 40px;
  margin-bottom: 25px;
  margin-top: 25px;
}

/* Additional Button Container Styles */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Logo Animation Styles */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Header Styles */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Link Styles */
.App-link {
  color: #61dafb;
}

/* Instructions Styles */
.instructions {
  margin-bottom: 25px;
  padding-top: 1px;
}

.instructions p {
  font-size: 26px;
  margin: 2px 0;
}

/* Color Code Styles */
.color-code {
  display: inline-block;
  padding: 6px 10px;
  margin-right: 8px;
  border-radius: 15px;
  font-size: 24px;
  font-weight: bold;
}

/* Color Styles */
.red {
  background-color: #ff8080;
  color: #5c0000;
}

.orange {
  background-color: #ffb366;
  color: #804d00;
}

.blue {
  background-color: #99ccff;
  color: #004080;
}

.purple {
  background-color: #cc99ff;
  color: #4d0066;
}

.yellow {
  background-color: #ffff99;
  color: #808000;
}

.green {
  background-color: #99ff99;
  color: #004d00;
}