.my-scores-container {
    margin: 5px;
    /* Center the content */
}

.my-scores {
    border-collapse: collapse;
    /* Remove spaces between table cells */
}

.my-scores th,
.my-scores td {
    padding: 8px;
    /* Adjusted padding for a smaller size */
    text-align: left;
    font-size: 24px;
    /* Add or adjust the font size for the text in the table */
}

.my-scores th {
    background-color: #3e3967;
    /* Header background color */
    color: #ffffff;
    /* Header text color */
    border-top-left-radius: 8px;
    /* Adjusted border-radius for a smaller size */
    border-top-right-radius: 8px;
    /* Adjusted border-radius for a smaller size */
}

.my-scores td {
    background-color: #7169ac;
    /* Cell background color */
    color: #ffffff;
    /* Cell text color */
    border-bottom: 1px solid #3e3967;
    /* Border between rows */
}

.my-scores-row:nth-child(even) td {
    background-color: #b9b5d6;
    ;
    /* Set the background color for the second row */
}

.button-container-scores {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.button-container-scores button {
    font-family: 'girl', sans-serif;
    background-color: #3e3967;
    color: #fff;
    border: 2px solid #fff;
    padding: 8px 16px;
    /* Adjusted padding for a smaller size */
    font-size: 16px;
    /* Adjusted font size for a smaller size */
    cursor: pointer;
    border-radius: 5px;
}

.button-container-scores button:hover {
    background: #6a5acd;
}