.my-scores-container {
    margin: 5px;
    /* Center the content */
}

.my-scores {
    width: 100%;
    border-collapse: collapse;
    /* Remove spaces between table cells */
}

.my-scores th,
.my-scores td {
    padding: 10px;
    text-align: left;
}

.my-scores th {
    background-color: #3e3967;
    /* Header background color */
    color: #ffffff;
    /* Header text color */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.my-scores td {
    background-color: #7169ac;
    /* Cell background color */
    color: #ffffff;
    /* Cell text color */
    border-bottom: 1px solid #3e3967;
    /* Border between rows */
}

.my-scores-row:nth-child(even) td {
    background-color:  #b9b5d6;;
    /* Set the background color for the second row */
}

.button-container-scores {
    display: flex;
    justify-content: center;
    margin-top: 10px;

  display: flex;

  align-items: center;

}

.button-container-scores button {
  font-family: 'girl', sans-serif;
  background-color: #3e3967;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.button-container-scores button:hover {
  background: #6a5acd;
}